<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>评论管理</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

  <!--导航-->
  <nav th:replace="admin/_fragments :: menu(4)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
  </nav>

  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-big">

    <div class="ui message" th:if="${message!=null}">
      <i class="close icon"></i>
      <div class="header">
        <font style="vertical-align: inherit;" th:text="${message}">
          <font style="vertical-align: inherit;">
          </font>
        </font></div>
    </div>


    <div class="ui container">
      <table class="ui celled table">
        <thead>
          <tr>
            <th></th>
            <th>博客id</th>
            <th>评论内容</th>
            <th>邮箱</th>
            <th>评论时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody >
          <tr th:each="comment,iterStat : ${page.content}">
            <td th:text="${iterStat.count}" style="white-space:nowrap;">1</td>
            <td th:text="${comment.blog.id}" style="white-space:nowrap;" ></td>
            <td th:text="${comment.content}" style="word-wrap:break-word;word-break:break-all;" ></td>
            <td th:text="${comment.email}" style="white-space:nowrap;"></td>
            <td th:text="${#dates.format(comment.createTime,'yyyy-MM-dd')}" style="white-space:nowrap;"></td>

            <td style="width:100px">
              <a th:href="@{/admin/comments/{id}/delete(id=${comment.id})}" class="ui mini red basic button" >删除</a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="6">
              <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                <a th:href="@{/admin/comments(page=${page.number}-1)}" class=" item" th:unless="${page.first}" >上一页</a>
                <a th:href="@{/admin/comments(page=${page.number}+1)}" class=" item" th:unless="${page.last}">下一页</a>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!--底部footer-->
  <footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

    $('.message .close')
            .on('click', function() {
              $(this)
                      .closest('.message')
                      .transition('fade')
              ;
            });

  </script>
</body>
</html>